<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Paper, Rock, Scissors</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="./assets/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>


  <body ng-app="app" ng-controller="myController">


    <!-- header section -->
    <header>
      <h1>Rock, Paper, Scissors</h1>
    </header>
    


    <!-- main section -->
    <main id="main">
      
      
      <div ng-show="showItem.keygenHeaderCard" class="card-header">
        <h2>You can never beat me!</h2>
      </div>
      <div id="score">Your Score: Win: {{score.userWin}} Tie: {{score.userTie}} Lost: {{score.userLost}}</div>
      <div id="battle-msg">{{battleMsg}}</div>
      
      
      <section id="play-arena">

    
        <div id="user-side">
        
  
          <img id="user-rock" class="user-hand" src="./assets/images/rock.png" ng-show="showItem.userRock" ng-click="userPickRock ()">
          <img id="user-paper" class="user-hand" src="./assets/images/paper.png" ng-click="userPickPaper ()" ng-show="showItem.userPaper">
          <img id="user-scissors" class="user-hand" src="./assets/images/scissors.png" ng-click="userPickScissors ()" ng-show="showItem.userScissors">
    
  
        </div>
  
        
        <div id="cpu-side">
          <img id="cpu-rock"  src="./assets/images/rock.png" ng-show="showItem.cpuRock">
          <img id="cpu-paper" src="./assets/images/paper.png" ng-show="showItem.cpuPaper">
          <img id="cpu-scissors"  src="./assets/images/scissors.png" ng-show="showItem.cpuScissors">
        </div>
  

      </section>



    </main>


    <!-- footer section -->
    <footer>
      Thank you for playing!
    </footer>



    <script src="./assets/js/angular.min.js"></script>
    <script src="./assets/js/angular-animate.min.js"></script>
    <script src="./assets/js/script.js"></script>
  </body>
</html>
