/* header font */
h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
}



/* header section */
header {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 30px;
}

#play-arena {

  display: flex;
  margin: auto;
  margin-top: 150px;
}

#user-side {

  flex:1;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

#cpu-side {
  flex:1;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;

}


#score {

  display: block;
  font-size: 25px;
  text-align: center;
}


#battle-msg {

  display: block;
  font-size: 45px;
  text-align: center;
}

/* main section */
main {

  display: block;
  min-height: 700px;
}




/* footer section */
footer {
  padding: 20px;
  text-align: center;
  bottom: 0px;
  font-size: 20px;
}




@media (max-width: 690px) {
  #secure-key-div {

    max-width: 100%;
    min-width: 400px;
  }
  
}


